.productOverviewCards {
    max-width: 1350px;
    margin: 0 auto;
    padding: 50px 0px;

    .productOverview_btn {
        display: flex;
        justify-content: center;

        .loadMore {
            padding: 15px 40px;
            border-radius: 70px;
            border: none;
            background-color: #E6E6E6;
            color: #222222;
            font-weight: 700;
            letter-spacing: 1px;
            cursor: pointer;
            transition: 400ms;

            &:hover {
                background-color: #222222;
                color: #E6E6E6;
            }
        }
    }

    .productOverview_header {
        h1 {
            margin: 40px 0px;
            font-weight: 700;
        }

        &_allProducts {
            display: flex;
            justify-content: space-between;

            &_filter {
                display: flex;

                li {
                    padding-right: 20px;
                    font-size: 15px;
                    color: rgb(121, 121, 121);
                    cursor: pointer;
                    transition: 300ms;

                    &:hover {
                        color: #222222;
                        text-decoration: underline;
                    }
                }
            }

            &_search {
                button {
                    padding: 10px 20px;
                    background-color: transparent;
                    margin-left: 5px;
                    border: 1px solid lightgray;
                    border-radius: 5px;
                    color: rgb(121, 121, 121);
                    cursor: pointer;
                    transition: 300ms;

                    &:hover {
                        background-color: #717FE0;
                        color: #E6E6E6;
                    }

                    &:hover i {
                        color: #E6E6E6;
                    }

                    i {
                        color: rgb(90, 90, 90);
                        margin-right: 5px;
                        transition: 300ms;


                    }
                }
            }

        }

        .searchOpen {
            border: 1px solid lightgray;
            max-width: 1350px;
            height: 60px;
            margin: 20px 0px;
            display: flex;
            align-items: center;
            transition: 400ms;

            input {
                outline: none;
                border: none;
                font-size: 18px;
            }

            i {
                font-size: 12px;
                padding: 0px 17px 0px 25px;
            }
        }

        .filterOpen {
            max-width: 1350px;
            height: 265px;
            background-color: #F2F2F2;
            display: flex;
            padding: 30px;
            justify-content: space-between;
            margin-top: 30px;
            transition: 400ms;


            h4 {
                font-size: 17px;
                font-weight: 500;
            }

            p {
                color: rgb(165, 165, 165);
                padding-top: 7px;
                transition: 200ms;
                cursor: pointer;

                &:hover {
                    color: #717FE0;
                    text-decoration: underline;
                }

                i {
                    padding-right: 5px;
                }
            }

            .tags {
                width: 250px;

                h4 {
                    padding-bottom: 10px;
                }

                button {
                    padding: 5px 15px;
                    background-color: transparent;
                    border: 1px solid lightgray;
                    border-radius: 20px;
                    color: rgb(165, 165, 165);
                    margin: 0px 5px 5px 0px;
                    cursor: pointer;
                    transition: 200ms;

                    &:hover {
                        color: #717FE0;
                        border-color: #717FE0;
                    }
                }
            }
        }
    }
}

.hiddenSearchCover {
    border: 0px solid lightgray;
    height: 0px;
    transition: 400ms;

    input {
        opacity: 0;
    }

    i {
        opacity: 0;
    }
}

.hiddenFilterCover {
    height: 0;
    transition: 400ms;
    overflow: hidden;
    .sortBy{
        opacity: 0;
    }
    .price{
        opacity: 0;
    }
    .color{
        opacity: 0;
    }
    .tags{
        opacity: 0;
    }
}